In [1]:
import tkinter as tk
from tkinter import filedialog as fd
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
from matplotlib.figure import Figure
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime
import seaborn as sns
import os

# import import_ipynb
# %run LESK32.ipynb

In [4]:
diameter = 1.5 # cm
radius = diameter / 2
area = np.pi * radius**2
print(0.05/area)
area

0.02829421210522584

1.7671458676442586

In [29]:
test = {'column': [1,3,4],
        'column2': [5,4,3],
        'column3': [0,0,0]}
df = pd.DataFrame(test)
df['thickness'] = ''
df.copy()['thickness'].loc[0] = 1

plt.bar
df

   column  column2  column3 thickness
0       1        5        0
1       3        4        0
2       4        3        0

In [8]:
df['insert the name of your column']

d

In [10]:
def test(a, b, c):
    print(a, b, c)

def circle(r):
    return np.pi * r**2

In [11]:
test('Rodrigo', 'Lopez', 'Baez')
test(0,1,3)
# test('Jonas', 'John')

Rodrigo Lopez Baez

In [2]:
r = 1.5/2
area = np.pi * r**2
area

1.7671458676442586

In [3]:
a = 200 / 0.785
b = 10 / 3.1416
print(a,b)

254.77707006369425 3.183091418385536

In [4]:
areal_density = 90e15 # at/cm2 of Li
thickness_th = 68e-7 # cm ; 68 nm
li_density = areal_density * thickness_th
avo = 6.022e23 # 1/mol
li_mol = li_density / avo
print(li_mol * 1000)
print(100 * 100)

1.0162736632348058e-09
10000